<section class="menu">
    <h4>Utilisateurs</h4>
    <ul>
        <li><a href="{{ path('app_user_list') }}">Liste des utilisateurs</a></li>

        <h4>Artistes</h4>
        <li><a href="{{ path('app_artist') }}">Liste des artistes</a></li>
        <li><a href="{{ path('app_artist_new') }}"> Ajouter un artiste </a></li>
        <h4>Albums</h4>
        <li><a href="{{ path('app_admin_album') }}"> Liste des albums</a></li>
        <li><a href="{{ path('app_album_new') }}"> Ajouter un album</a></li>
        <h4>Chansons</h4>
        <li>Liste des chansons</li>
        <li>Ajouter une chanson</li>
        <h4>Styles</h4>
        <li><a href="{{ path('app_genre') }}">Liste des styles</a> </li>
        <li><a href="{{ path('app_genre_new') }}">Ajouter un style</a> </li>
    </ul>
</section>