{% extends 'back/base.html.twig' %}

{% block title %}Hello ArtistController!{% endblock %}

{% block body %}
    <div class="container admin_content">
    <h3 class="content_title">Liste des artistes</h3>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Identifiant</th>
                <th scope="col">Nom</th>
                <th scope="col">Première sortie</th>
                <th scope="col">thumbnails</th>
                <th scope="col">Ajouté le</th>
            </tr>
            </thead>
            <tbody>
            {% for artist in artists %}
            <tr>
                <th scope="row">{{ artist.id }}</th>
                <td>{{ artist.name }}</td>
                <td>{{ artist.firstReleasedAt | date('d/m/Y') }}</td>
                <td><span class="img"><img src="{{ asset('images/artist/' ~artist.image) }}" alt=""></span></td>
                <td>{{ artist.createdAt | date('d/m/Y') }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
