{% extends 'back/base.html.twig' %}

{% block title %}Liste des artistes{% endblock %}
{% block body %}
    <div class="container admin_content">
        <h3 class="content_title">Liste des chansons</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Identifiant</th>
                <th scope="col">Titre</th>
                <th scope="col">Artiste</th>
                <th scope="col">Album</th>
                <th scope="col">Durée</th>
            </tr>
            </thead>
            <tbody>
            {% for song in songs %}
                <tr>
                    <th scope="row">{{ song.id }}</th>
                    <td>{{ song.title }}</td>
                    <td>{% for artist in song.artists %}
                            {{ artist.name}}
                        {% endfor %}</td>
                    <td>{% for album in song.albums %}
                            {{album.title}}
                        {% endfor %}</td>
                    <td>{{ song.duration }}</td>

{#                    <td><span class="img"><img src="{{ asset('images/artist/' ~artist.image) }}" alt=""></span></td>#}
{#                    <td>{{ artist.createdAt | date('d/m/Y') }}</td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
